<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link
	href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
	rel="stylesheet"></link>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="src/js/ajax.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<title>Asociador de Reina y Reuna</title>
<style type="text/css">
.pad30 {
	padding-left: 30px;
}
</style>
</head>

<body>
	<div class="container">
	<button class="btn btn-small btn-success" onclick="window.location.href='/index'">Inicio</button>
		<div class="reinaDiv">
			<h2>Reina:</h2>
			<strong style="color:red">Estas llamadas de Reina ==> Reina son Ajax a modo de "Prueba de funcionamiento" de cada servicio.</strong>
			<hr></hr>
			<div class="pad30">
				<strong>api/jovenes/simple/</strong>
				<input type="text" id="idBuscarIndividual" placeholder="idJoven"/>
				<button class="btn btn-success" id="botonBusquedaIndivual">Buscar</button>
<hr></hr>

				<strong>api/jovenes/simple/busqueda1?</strong>
				<input type="text" id="busquedaMixta1" placeholder="Doc/Apell/Nomb."/>
				<button class="btn btn-success" id="botonBusquedaMixta1">Buscar</button>
<hr></hr>
				<strong>api/jovenes/simple/busqueda2?</strong>
				<input type="text" id="paramDocumento" placeholder="Documento" />
				<input type="text" id="paramApellido" placeholder="Apellido" />
				<input type="text" id="paramNombre" placeholder="Nombre" />
				<button class="btn btn-success" id="botonBusquedaMixta2">Buscar</button>
<hr></hr>

				<strong>api/jovenes/simple/busqueda3?</strong>
				<input type="text" id="busquedaMixta3" placeholder="Doc/Apell. Nomb./Apell."/>
				<button class="btn btn-success" id="botonBusquedaMixta3">Buscar</button>
<hr></hr>

<h4><strong>Resultados - <span style="color:darkgreen">Abrir la consola con F12 para ver Todos los resultados del JSON</span></strong></h4>
				<table id="tablaReina" class="display">
					<thead>
						<tr>
							<th>Apellidos y Nombres</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Nro. Doc.</th>
							<th>Documento</th>
							<th>Sit. Doc</th>
							<th>sexo</th>
							<th>historicidad</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Ap y Nom</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Nro. Doc.</th>
							<th>Documento</th>
							<th>Sit. Doc</th>
							<th>sexo</th>
							<th>historicidad</th>
							<th>Acciones</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>

		<hr></hr>
		<br></br>
				<strong>api/informes/simple/</strong>
				<input type="text" id="busquedaInforme" placeholder="id informe"/>
				<button class="btn btn-success" id="botonBusquedaInforme">Buscar informe</button>
		
		<hr></hr>
		<br></br>
		
		<div class="reunaDiv">
			<h2>Reuna:</h2>
			<strong style="color:red">Estas llamadas de Reina ==> Reuna son sincrónicas de Servidor a servidor (No Ajax, temporales)</strong>
			<hr></hr>
			
				<strong>reuna/api2/jovenes?buscar=</strong>
				<input type="text" id="busquedaReuna1" placeholder="Doc/Apell/Nomb."/>
				<button class="btn btn-success" id="botonBusquedaReuna1">Buscar Joven</button>
			
			<hr></hr>
			<br></br>
			
			<h4><strong>Resultados - <span style="color:darkgreen">Abrir la consola con F12 para ver Todos los resultados del JSON</span></strong></h4>
			<table id="tablaReuna" class="display">
					<thead>
						<tr>
							<th>Legajo</th>
							<th>Nomb. y Ap.</th>
							<th>Fecha nac.</th>
							<th>Tiene Doc.</th>
							<th>Doc.</th>
							<th>Cuil</th>
							<th>Sexo</th>
							<th>Nacionalidad</th>
							<th>Municipio</th>
							<th>Provincia</th>
							<th>Dirección</th>
							<th>Teléfono</th>
							<th>Sector</th>
							<th>Local</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Legajo</th>
							<th>Nomb. y Ap.</th>
							<th>Fecha nac.</th>
							<th>Tiene Doc.</th>
							<th>Doc.</th>
							<th>Cuil</th>
							<th>Sexo</th>
							<th>Nacionalidad</th>
							<th>Municipio</th>
							<th>Provincia</th>
							<th>Dirección</th>
							<th>Teléfono</th>
							<th>Sector</th>
							<th>Local</th>
							<th>Acciones</th>
						</tr>
					</tfoot>
				</table>
				
			<hr></hr>
			<br></br>
			<br></br>
				
				<strong>reuna/api2/dameLegajo?id=</strong>
				<input type="text" id="busquedaLegajo" placeholder="Doc/Apell/Nomb."/>
				<button class="btn btn-success" id="botonBusquedaLegajo">Buscar Legajo</button>
			<hr></hr>
			<br></br>

			<h4><strong>Resultados - <span style="color:darkgreen">Abrir la consola con F12 para ver Todos los resultados del JSON</span></strong></h4>
			<table id="tablaReunaLegajo" class="display">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nomb. y Ap.</th>
							<th>Fecha nac.</th>
							<th>Doc.</th>
							<th>Cuil</th>
							<th>Sexo</th>
							<th>Municipio</th>
							<th>Provincia</th>
							<th>Sector</th>
							<th>Local</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID</th>
							<th>Nomb. y Ap.</th>
							<th>Fecha nac.</th>
							<th>Doc.</th>
							<th>Cuil</th>
							<th>Sexo</th>
							<th>Municipio</th>
							<th>Provincia</th>
							<th>Sector</th>
							<th>Local</th>
							<th>Acciones</th>
						</tr>
					</tfoot>
				</table>
				
			<hr></hr>
			<br></br>
			<br></br>

				<strong>reuna/api2/dameIntervencion?id=</strong>
				<input type="text" id="busquedaIntervencion" placeholder="Doc/Apell/Nomb."/>
				<button class="btn btn-success" id="botonBusquedaIntervencion">Buscar intervención</button>
			
			<hr></hr>
			<br></br>

				<h4><strong>Resultados - <span style="color:darkgreen">Abrir la consola con F12 para ver Todos los resultados del JSON</span></strong></h4>
				<table id="tablaReunaIntervencion" class="display">
					<thead>
						<tr>
							<th>Id</th>
							<th>Id Legajo</th>
							<th>Fecha</th>
							<th>Sector</th>
							<th>Local</th>
							<th>Derivado Por</th>
							<th>Motivo</th>
							<th>Nombre Estado</th>
							<th>Detalle</th>
							<th>Observaciones</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Id</th>
							<th>Id Legajo</th>
							<th>Fecha</th>
							<th>Sector</th>
							<th>Local</th>
							<th>Derivado Por</th>
							<th>Motivo</th>
							<th>Nombre Estado</th>
							<th>Detalle</th>
							<th>Observaciones</th>
							<th>Acciones</th>
						</tr>
					</tfoot>
				</table>
				
			<hr></hr>
			<br></br>
			<br></br>
				
		</div>
	</div>
</body>
</html>