<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link
	href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
	rel="stylesheet"></link>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="src/js/ajax.js"></script>
<!-- TODO ver que pasa con la ruta de los CSS, JS, img -->
<title>Asociador de Reina y Reuna</title>
<style type="text/css">
.pad30 {
	padding-left: 30px;
}
</style>
</head>

<body>
	<div class="container">
	<button class="btn btn-small btn-success" onclick="window.location.href='/index'">Inicio</button>
		<div class="reinaDiv">
			<h2>Reina:</h2>
			<strong style="color:red">Estas llamadas de Reina ==> Reina son Ajax a modo de "Prueba de funcionamiento" de cada servicio.</strong>
			<hr></hr>
			<div class="pad30">
				<strong>api/jovenes/simple/</strong>
				<input type="text" id="idBuscarIndividual" placeholder="idJoven"/>
				<button class="btn btn-success" id="botonBusquedaIndivual">Buscar</button>
<!-- 				<button class="btn btn-success" onclick="buscarIndividual()">Buscar</button> -->
<hr></hr>

				<strong>api/jovenes/simple/busqueda1?</strong>
				<input type="text" id="busquedaMixta1" placeholder="Doc/Apell/Nomb."/>
<!-- 				<button class="btn btn-success" onclick="busquedaMixta1()" id="botonBusquedaMixta1">Buscar</button> -->
				<button class="btn btn-success" id="botonBusquedaMixta1">Buscar</button>
<hr></hr>
				<strong>api/jovenes/simple/busqueda2?</strong>
				<input type="text" id="paramDocumento" placeholder="Documento" />
				<input type="text" id="paramApellido" placeholder="Apellido" />
				<input type="text" id="paramNombre" placeholder="Nombre" />
<!-- 				<button class="btn btn-success" onclick="busquedaMixta2()">Buscar</button> -->
				<button class="btn btn-success" id="botonBusquedaMixta2">Buscar</button>
<hr></hr>

				<strong>api/jovenes/simple/busqueda3?</strong>
				<input type="text" id="busquedaMixta3" placeholder="Doc/Apell. Nomb./Apell."/>
<!-- 				<button class="btn btn-success" onclick="busquedaMixta3()" id="botonBusquedaMixta3">Buscar</button> -->
				<button class="btn btn-success" id="botonBusquedaMixta3">Buscar</button>
<hr></hr>

<h4><strong>Resultados - <span style="color:darkgreen">Abrir la consola con F12 para ver Todos los resultados del JSON</span></strong></h4>
				<table id="tablaReina" class="display">
					<thead>
						<tr>
							<th>Apellidos y Nombres</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Nro. Doc.</th>
							<th>Documento</th>
							<th>Sit. Doc</th>
							<th>sexo</th>
							<th>historicidad</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Ap y Nom</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Nro. Doc.</th>
							<th>Documento</th>
							<th>Sit. Doc</th>
							<th>sexo</th>
							<th>historicidad</th>
							<th>Acciones</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
		<hr></hr>
		<br></br>
		
		<div id="reunaDiv">
			<h2>Reuna:</h2>
			<strong style="color:red">Estas llamadas de Reina ==> Reuna son de Servidor a servidor</strong>
			<hr></hr>
			<div id="reuna"></div>
		</div>
	</div>
</body>


</html>