<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
.colorBlue {
	color: blue;
}
.colorRed {
	color: red;
}
.colorGreen {
	color: green;
}
.colorYellow {
	color: Gold;
}
.colorPink {
	color: deeppink;
}
</style>
<title>SNyA Inicio</title>
</head>

<body>
	<h1>API SYNA</h1>

	<div>
	<a href="/swagger-ui.html#"
		style="font-weight: bold; font-style: italic; color: blue"><button class="btn btn-primary">Ir a
		Swagger</button></a>
		
		<a href="/asociador.html"
		style="font-weight: bold; font-style: italic; color: blue"><button class="btn btn-primary">Reina - Reuna</button></a>	
	</div>

	<h3>Documentación Reina API SNyA:</h3>

	<p>
		<strong>Todos los path menos este index están protegidos por
			Contraseña por medio de Spring security por capas, al sólo hecho de
			proteger los datos sensibles, luego muy posiblemente se quite la
			misma.</strong>
	</p>

	<h4>Datos:</h4>
	<ul>

		<li><b class="colorRed">Host</b> ==> http://186.19.113.224:8080/</li>
		<li><b class="colorRed">Path principal</b> ==> http://186.19.113.224:8080/api/</li>
		<li >Tener en cuenta que algunas respuestas pueden tardar ya que la <i>DB es gigante</i>.
		</li>
		<li>A cada llamada que se realice a cualquiera de estos endpoints debe estar acompañada de un <strong>Token</strong> acoplado a cada request dentro del <strong>Header</strong> y <strong>No en el body</strong>, el mismo debe contener los siguientes atributos, <i>Nombre</i>, <i>Apellidos</i>, <i>Email</i>, <i>Usuario</i>, <i>Rol</i>, <i>Sector</i>.
		<br></br>
		El atributo <strong>Rol</strong> sólo puede llevar los siguientes roles "temporarios" hasta que se definan por completo, <i>ROL_FUNCIONARIO</i>, <i>ROL_CONSULTA</i>, <i>ROL_VISTA_LEGAJO</i>, <i>ROL_VISTA_LEGAJO_UBICACION</i>, <i>ROL_VISTA_LEGAJO_TECNICO</i>.
		<br></br>
		Si el rol es diferente devolverá <strong>Http Error 401, código de no autorizado</strong></li>
		<li>En la path de pruebas <strong>/asociador</strong> abrir la <strong>consola</strong> con <strong>F12</strong> para ver los resultados específicos del JSON de resultados. En los cuadros sólo se muestran datos acotados a modo de pruebas y demostraciones.</li>
	</ul>
	<h4>Endpoints disponibles:</h4>
	<h5>Path ==> /api/jovenes</h5>
	<ul>
		<li>
		<b class="colorYellow">GET</b> ==> http://186.19.113.224:8080/api/jovenes/simple/<i
			class="colorBlue">{id}</i>
			<br><small class="colorPink"><strong>(Devuelve datos simplificados de un Joven)</strong></small></br>
			<br></br>
		</li>
		<li>
		<b class="colorYellow">GET</b> ==>
			http://186.19.113.224:8080/api/jovenes/simple/busqueda1?buscar= <i class="colorBlue">{numeroDocumento}</i>
			|| <i class="colorBlue">{apellido}</i> || <i class="colorBlue">{nombre}</i>
			<br><small class="colorPink"><strong>(Devuelve Lista de datos simplificados de Jovenes que matcheen)</strong></small></br>
			<br></br>
		</li>
		<li>
		<b class="colorYellow">GET</b> ==>
			http://186.19.113.224:8080/api/jovenes/simple/busqueda2?numeroDocuemnto=<i class="colorBlue">{numeroDocumento}</i>&amp;apellidos=<i class="colorBlue">{apellidos}</i>&amp;nombres=<i class="colorBlue">{nombres}</i>
			<br><small class="colorPink"><strong>(Devuelve Lista de datos simplificados de Jovenes que matcheen)</strong></small></br>
			<br></br>
		</li>
		<li>
		<b class="colorGreen">PUT</b> ==> http://186.19.113.224:8080/api/jovenes/<i class="colorBlue">{id}</i>?legajo=<i class="colorBlue">{legajo}</i>&amp;idCaratulador=<i class="colorBlue">{idCaratulador}</i>
			<br><small class="colorPink"><strong>(Modifica un registro en la DB que hace de unión con Reuna/ todavía no está terminado)</strong></small></br>
			<br></br>
		</li>
	</ul>
	
		<h5>Path ==> /api/informes</h5>
	<ul>
	<li><b class="colorYellow">GET</b> ==> http://186.19.113.224:8080/api/informes/{id}</li>
	</ul>
	
</body>
</html>